# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS and Linux system files
.DS_Store

# Ignore VSCode project settings (optional)
.vscode/

# Ignore Streamlit logs (optional)
.streamlit/

# Ignore compiled logs (optional)
*.log
